<style>
    pre, code {
        background-color: inherit;
        border: 0;
        font-family: "Courrier New", "Consolas", "Cascadia Mono", monospace;
        font-size: 10px;
        padding: 0;
    }

    div.request-container {
        background-color: rgb(219, 219, 219);
        width: 100%;
    }
    div.request-container code {
        color: rgb(5, 5, 216);
    }

    div.response-ok {
        background-color: rgb(217, 252, 217);
        width: 100%;
    }
    div.response-failed {
        background-color: rgb(252, 217, 217);
        width: 100%;
    }
    div.request-not-sent {
        background-color: rgb(219, 219, 219);
        width: 100%;
    }

    div.response-ok code {
        color: black;
    }
    div.response-failed code {
        color: black;
    }
    div.request-not-sent {
        color: rgb(204, 134, 5);
    }
</style>
<pre><div class="request-container"><code>{{request.method}} {{request.url}} {{request.httpVersion}}</code>
{%- for header in request.headers -%}
<br/><code>{{header.name}}: {{header.value}}</code>
{%- endfor -%}
{%- if request.cookies.length > 0 -%}
{% set semicolon = joiner("; ") %}
<code>Cookies: {% for cookie in request.cookies -%}{{ semicolon() }}{{ cookie.name }}={{ cookie.value }}{%- endfor -%}</code>
{%- endif %}
{#- Request Body -#}
{%- if request.bodySize > 0 -%}
<br/><code>{{request.postData.text}}</code>
{%- endif -%}
<br />
</div>
{#- Response Line -#}
{%- if response.status >= 100 -%}
<div class="{{ 'response-ok' if (response.status >= 100) and (response.status <= 399) else 'response-failed' }}"><code>{{response.httpVersion}} {{response.status}} {{response.statusText}}</code>
{# Response Headers -#}
{%- for header in response.headers -%}
<code>{{header.name}}: {{header.value}}</code>
{% endfor %}
{#- Response Cookies -#}
{#- Response Body -#}
{%- if response.content.size > 0 -%}
<br/><code>{{response.content.text}}</code>
{%- endif -%}
{%- else -%}
<div class="request-not-sent"><code>Request has not been sent yet</code></div>
{%- endif -%}
</div></pre>